.h{
    /* background-color: aquamarine; */
    height: 71.5vh;
    width: 1479px;
}
.image
{
    text-align: center;
    width: 1500px;
    height:75vh;

}
.t{
    
    color: white;
}
